*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
	font-family: 'Poppins', sans-serif;
	
}

header{
	
	overflow: hidden;
	width: 100%;
	border-bottom: 1px solid #f2f3f5;
	margin: 0 auto;
}

.container{
	margin: 0 auto;
	overflow: hidden;
	width: 87%;
	
}

.wrapper {
	
	margin: 0 auto;
	overflow: hidden;
}

.logo {
	float: left;
	width: 6%;
	padding: 10px 0;
}

.logo img{
	width: 100%;
}
.menu {
	float: right;
	width: 40%;
	padding: 10px 0;
}

.menu ul {
	float: right;}

.menu ul li{
	list-style: none;
	float: left;
}

.menu ul li a {
	color: #555;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 0 15px;
	text-transform: capitalize;

}

.menu ul li a:hover{
	color: #008AFF;

}

.hero {
	text-align: center;
	padding: 30px 0;
}

.banner {
	max-width: 60%;
	margin: 0 auto;
	
}

.image {
	padding: 20px 0;
}

.hero h2 {
	text-align: center;
	font-size: 55px;
	color: #0C2354;
}

.hero span {
	text-align: center;
	font-size: 55px;
	color: #008AFF;
}

.hero p {
	text-align: center;
	font-size: 16px;
}

.hero .image {
	width: 55%;
	margin: 0 auto;
		
}

.image img {
	max-width: 100%;
	margin: 0 auto;
}


.middle {
	max-width: 65%;
	margin: 0 auto;
	padding-bottom: 30px;

}

.mid {
	max-width: 100%;
	margin: 0 auto;

}
.left {
	float: left;
	width: 50%;
	padding: 0 10px;
}

.right {
	float: right;
	padding: 0 10px;
	width: 50%;
}

.left h2 {
	text-align: right;
	padding: 0 10px 0 0px;
	font-size: 45px;
	color: #F05666;
}

.right h3{
	font-size: 45px;
	color: #0C2354;
	text-align: left;
	line-height: 120%;
}

.left p {
	text-align: right;
	padding: 0 10px;
	font-size: 14px;
}

.service-section{ padding: 30px 0;}
.service-section .container{
    overflow: hidden;
}
.service{
    width: 32%;
    float: left;
    text-align: center;

    padding: 40px 24px;
}
.service-img {
    /* border: 1px solid black; */
    height: 190px;
}
.service-img img {
    /* border: 1px solid black; */
    width: auto;
}
.service h3{
    font-size: 17px;
    color: #0C2354;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.service p{
    font-size: 14px;
    color: #1F305F;
    line-height: 1.5;
    text-align: left;
}
.service:nth-child(1){
    background-color: #FDEBED;
}
.service:nth-child(2){
    background-color: #EBF9F4;
    margin: 0 21px;
}
.service:nth-child(3){
    background-color: #FFF7E8;
}
